@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-image: url(../img/background.jpg);
}
body{
    height: 100vh;
    width: 98vw;
    overflow-x: hidden;

}
header{
    margin-top: 10px;
    height: 6vh;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav h2{
    font-family: Josefin Sans;
    font-size: 21px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #062D3E;
    margin-left: 120px;
}
ul{
    list-style: none;
    display: flex;
    gap: 50px;
}
.element{
    font-family: Josefin Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-align: left;
    transition: text-decoration 2s;
}
.element a{
    text-decoration: none;
    color: black;
}
.element a:hover{
    cursor: pointer;
    text-decoration: underline;
    opacity: .5s;
}
#signup{
    width: Hug (140px);
    height: Hug (62px);
    padding: 8px 28px 8px 28px;
    margin-bottom: 10px;
    border-radius: 190px;
    font-family: 'PP Neue Montreal', sans-serif;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.09em;
    text-align: left;   
    gap: 10px;
    color: #FFFF;
    border: 2px solid #FFFF;
    background: transparent;
}

#signup:hover{
    cursor: pointer;
}
.first{
    display: flex;
    width: 98vw;
    gap: 20%;
    justify-content: center;
    align-items: center;
}

.home span{
    font-family: 'PP Neue Montreal', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #189CAB;

}
.home h1{
    color: 
    #062D3E;
    font-family: Josefin Sans;
    font-size: 60px;
    font-weight: 900;
    line-height: 92px;
    letter-spacing: 0.5px;
    margin-top: 60px;
    max-width: 34pc;
    text-transform: uppercase;
    text-align: left;
}
.title{
    color: 
    #ED5C01;
    font-family: Josefin Sans;
    font-size: 60px;
    font-weight: 900;
    line-height: 92px;
    letter-spacing: 0.5px;
    max-width: 34pc;
    text-transform: uppercase;
    text-align: left;
}
.home button{
    margin-top: 10px;
    outline: none;
    border: none;
    font-family: 'PP Neue Montreal';
    font-size: 14px;
    font-weight: 300;
    line-height: 38px;
    padding: 8px 28px 8px 28px;
    letter-spacing: 0.09em;
    border-radius: 247px;
    color: #FCEFE2;
    background-color: #ED5C01;
}

.home button:hover{
    cursor: pointer;
}
.image .dog{
    position: relative;
    top: 30px;
    width:400px;
    margin-left: 20px;
}
.dog-bars{
    margin-top: 90px;
    display: flex;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 20px 0px;
    background-color: #ED5C01;
}
#frame{
    width: 70px;
    position: relative;
    right: 10px;
    bottom: 20px;
}

#card{
    width: 170px;
    margin-left: 50px;
}
.images{
    margin-left: 200px;
    display: flex;
    justify-content: left;
}
.images img{
    transition: all .6s ease-in-out ;
    right: 30px;
    width: 160px;
    opacity: .7s;
}
.images #dog{
    position: relative;
    right: 60px;
}
.images img:hover{
    opacity: 1;
    transform: scale(120%);
}
#leo{
    position: relative;
    right: 120px;
}
#pajaro{
    position: relative;
    right: 180px;
}
#leon{
    position: relative;
    right: 240px;
}
#loro{
    position: relative;
    right: 300px;
}
.container{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.cardsSection{
    margin-top: 50px;
    margin-left: 50px;
}
.cardsSection h2{
    font-family: 'PP Neue Montreal';
    font-size: 30px;
    font-weight: 500;
    color: #062D3E;
    line-height: 38px;
    letter-spacing: 0.06em;
    text-align: left;

}
.cards{
    align-items: center;
    justify-content: center;
    display: flex;
}
.card{
    max-width: 480px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    align-items: center;
}
.card h4{
    font-family: Josefin Sans;
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}
.card p{
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 70%;
}
#one{
    background-color: #FBBD08    ;
    border-radius: 10% 52% 11% 46% / 0% 47% 13% 45% ;
}
#one button{
    border: none;
    background-color:#062D3E;
    color:white;
    margin-top: 10px;
    padding: 8px 26px 8px 26px;
    border-radius: 190px;

}
#two{
    margin-left: 120px;
    background-color: #EBE3CC;
    border: 1px solid gray;
    border-radius: 6% 48% 11% 53% / 31% 47% 13% 45% ;
}
#two button{
    outline: none;
    border: px solid (50,50,50,50);
    background-color:transparent;
    color:black;
    margin-top: 10px;
    padding: 8px 26px 8px 26px;
    border-radius: 190px;
}

.cardOne, .cardTwo{
    min-height: 30pc;
    display: flex;
    align-items: center;
    width: 99vw;
}
.cardOne{
    margin-top: 7pc;
    background: #189CAB;
    gap: 200px;
}
.cardTwo{
    background: #EBE3CC;

}
.cardOne img{
    max-width: 20pc;
    margin-left: 40px;
}
.text1{
    max-width: 50%;
}
.text1 h3{
    font-family: Josefin Sans;
    font-size: 35px;
    color: #EBE3CC;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;

}
.text1 p{
    font-family: Josefin Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #EBE3CC;

}
.text2{
    max-width: 50pc;
}
.text2 h3{
    font-family: Josefin Sans;
    font-size: 35px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #062D3E;
}
.text2 p{
    font-family: Josefin Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}
.sendEmail{
    display: flex;
    width: 99vw;
}
.sendEmail .ima{
    width: 50%;
    max-height: 37vh;
    display: flex;
    background-color: #FBBD08;
}
.ima img{
    display: flex;
    align-items: center;
}
#pet{
    width: 14pc;
}
#pet2{
    width: 17pc;
}
.form{
    background: #ED5C01;
    width: 50%;
    padding-bottom: 30px;
}
span{
    font-family: Josefin Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    position: relative;
    margin-left: 20px;
    top: 40px;
    letter-spacing: 0em;
}
input{
    border: none;
    outline: none;
    width: 70%;
    background: transparent;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 100px;
    color: white;
    border-bottom: 1px solid white;
}
input::placeholder{
    font-family: 'PP Neue Montreal';
    color: white;
}

#send{
    border: none;
    background: transparent;
    font-size: 25px;
    position: relative;
    right: 40px;
    color: white;
}
footer{
    background: #062D3E;
    width: 99vw;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
}
footer img{
    width: 220px;
    position: absolute;
    left: 370px;

}
footer h4{
    color:#ED5C01;
    position: relative;
    top: 50px;
    margin-left: 100px;
    font-size: 30px;
    font-family: 'PP Neue Montreal';
}
.text-footer{
    margin-left: 30pc;
    color: white;
}
footer span{
    font-size: 16px;
    font-weight: 100;
}
.icons-footer{
    position: relative;
    top: 110px;
    font-size: 20px;
    color: white;
    gap: 30px;
    right: 20pc;
}
.icons-footer i{
    margin-right: 10px;
}